<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VRChatApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VRChatApp.Properties.Settings>
            <setting name="SenderPort" serializeAs="String">
                <value>9002</value>
            </setting>
            <setting name="ReceiverPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="CheckBoxSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShakeIntensity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ElectricalIntensity" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ElectricalCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FeedbackOnce" serializeAs="String">
                <value>False</value>
            </setting>
        </VRChatApp.Properties.Settings>
    </userSettings>
</configuration>